version: 2.1
jobs:
  ansible_lint:
    docker:
      - image: circleci/python:latest
    steps:
      - add_ssh_keys:
          fingerprints:
            - "8b:04:83:e4:3f:d1:d3:eb:da:33:c3:60:fb:c2:2b:be"
      - checkout
      - run:
          name: Install ansible-lint
          command: pip install ansible ansible-lint yamllint --progress-bar off
      - run:
          name: Show ansible version
          command: ansible --version
      - run:
          name: Create symlink for role
          command: >
            mkdir -p ~/.ansible/roles
              ln -s $(pwd) ~/.ansible/roles/${CIRCLE_PROJECT_REPONAME##*-}
      - run:
          name: Syntax check playbook
          command: pwd; ls; ansible-playbook --syntax-check tests/test.yml
      - run:
          name: Show ansible-lint version
          command: ansible-lint --version
      - run:
          name: Execute ansible-lint
          command: >
            find . -type f -name '*.yml' | xargs ansible-lint -c .ansible-lint-rules
      - run:
          name: Show yamllint version
          command: yamllint --version
      - run:
          name: Run yamllint
          command: yamllint -s .

workflows:
  version: 2.1
  lint_and_test:
    jobs:
      - ansible_lint
